.background-changing-div {
  background: url("../../assests/background.svg") no-repeat;
  height: 40vh;
}

.page-title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
}

.content1 {
  height: 80vh;
}

.help-div {
  display: flex;
  height: 46vh;
  /* width: ; */
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
}

.title {
  /* margin-top: 20vh; */
  text-align: center;
  font-size: 30px;
}

.point {
  margin-top: 3vh;
}

.top {
  margin-top: 5vh;
}

.left-help {
  width: 30vw;
  margin-left: auto;
  margin-right: auto;
}
.right-help {
  width: 30vw;
  margin-left: auto;
  margin-right: auto;
}
