.content-box {
  height: 90vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-left {
  width: 40vw;
  height: 60vh;
  margin-right: auto;
  margin-left: auto;
}

.content-right {
  width: 40vw;
  height: 60vh;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.right-title {
  display: flex;
  height: 10vh;
  background-color: black;
  font-size: 30px;
  color: white;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.right-output {
  height: 50vh;
  white-space: pre-wrap;
  font-family: monospace;
  color: white;
  padding: 10px;
}

.left-title {
  display: flex;
  height: 10vh;
  background-color: black;
  font-size: 30px;
  color: white;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.left-input {
  height: 50vh;
  color: white;
  border-radius: 30px;
}

.left-input-area {
  width: 96%;
  height: 86%;
  box-sizing: content-box;
  padding: 2%;
  background-color: #272822;
  color: white;
  border: none;
  resize: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.left-input-area:focus {
  outline: none;
}

.run-button {
  background-color: black;
  color: white;
  border: none;
  font-size: 20px;
  margin-left: 10px;
}

.left-text-box-header {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #272822;
}
.circle {
  font-size: 12px;
  margin-left: 4px;
}

.circle-red {
  margin-left: 8px;
  color: #ee535b;
}

.circle-yellow {
  color: #fcc130;
}

.circle-green {
  color: #37d440;
}
